<nav class="p-4 w-full">
  <ul class="menu bg-base-200 lg:menu-horizontal rounded-box">
    <li>
      <a class="btn" routerLink="by-capital" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact:true}">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
            <path
              d="M11.5.5h-9a1 1 0 0 0-1 1V11a1 1 0 0 0 1 1h9a1 1 0 0 0 1-1V1.5a1 1 0 0 0-1-1M3.5 12v1.5m7-1.5v1.5M1.5 7h11" />
            <path d="M4 9.75a.25.25 0 0 1 0-.5m0 .5a.25.25 0 0 0 0-.5m6 .5a.25.25 0 0 1 0-.5m0 .5a.25.25 0 1 0 0-.5" />
          </g>
        </svg>
        Por capital
      </a>
    </li>
    <li>
      <a class="btn" routerLink="by-pais" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact:true}">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            d="m5.031 5l-.19-1.298a2.97 2.97 0 0 1 .607-2.267a1.977 1.977 0 0 1 3.104 0c.505.64.725 1.46.607 2.267L8.969 5l3.833 1.944a.989.989 0 0 1-.665 1.846L8.5 7.97L8.281 10l1.9 1.61a.991.991 0 0 1-1.035 1.664L7 12.344l-2.146.93a.99.99 0 0 1-1.035-1.665L5.72 10L5.5 7.969l-3.637.821a.989.989 0 0 1-.665-1.846z"
            stroke-width="1" />
        </svg>
        Por país
      </a>
    </li>

    <li>
      <a class="btn" routerLink="by-region" routerLinkActive="btn-primary" [routerLinkActiveOptions]="{exact:true}">
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14">
          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
            d="M7 13.5a9.26 9.26 0 0 0-5.61-2.95a1 1 0 0 1-.89-1V1.5A1 1 0 0 1 1.64.51A9.3 9.3 0 0 1 7 3.43zm0 0a9.26 9.26 0 0 1 5.61-2.95a1 1 0 0 0 .89-1V1.5a1 1 0 0 0-1.14-.99A9.3 9.3 0 0 0 7 3.43z"
            stroke-width="1" />
        </svg>
        Por región
      </a>
    </li>
  </ul>
</nav>